html, body {
  height: 100%;
  font-family: 'helvetica';
}

.container {
  height: 100%;
  background-color: #ddd;
  display: flex;
  flex-direction: column;
}

nav {
  background-color: #3B5998;
  color: white;
  padding: 5px 20px;
}

.main {
  padding-left: 10%;
  padding-right: 10%;
  flex: 1;
  display: flex;
}

.left, .right {
  background-color: white;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

.left {
  flex: 1;
}

.right {
  flex: 2;
}

.profile-image {
  display: flex;
  justify-content: center;
}

.profile-image img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.user-details {
  display: flex;
  flex-direction: column;
}

.user-details h3 {
  text-align: center;
  background-color: aquamarine;
}

.button-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

button {
  padding: 10px;
  border-radius: 5px;
  background-color: aquamarine;
  color: white;
}

button:hover {
  cursor: pointer;
  background-color: #3B5998;
  color: white;
  box-shadow: 5px 5px 5px grey;
}

button:focus {
  outline: none;
}

.card {
  background-color: aliceblue;
  margin: 20px;
  padding: 20px;
  border-radius: 15px;
  display: flex;
}

.user-card {
  margin-right: 10px;
  text-align: center;
}

.user-card img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.user-card span {
  color: grey;
}
